+b.container
    +b.about
        +b.row     
            +b.column.about-content
                +e.title About
                +e.description This project is a part of 🇺🇦PRJCTR — Creative & Tech Online Institute course. But we always appreciate to get your feedback and add new features to DAILY-DO.
                +e.description You can open PRJCTR Course page bellow, or leave comment at Produc Hunt page:
                +e.logotype-box
                    +e("a").logo-about(href="#") 
                        +e("img")(src="assets/prjctr-logo.svg" alt="Projector school logo")
                    +e("a").logo-about(href="#") 
                        +e("img")(src="assets/product-hunt-logo.svg" alt="Product hunt logo")
            +b.column
                +b.animation  
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4400lb7.json"  background="transparent"  speed="1.5"  loop  autoplay></lottie-player>
